{% extends 'base.html' %}

{% block content %}

<section class="bg-secondary p-3">
    <div class="container">
        <h1>Forgot your password?</h1>
        <p>Provide your email address for your password reset.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for fields in form %}

                    <p>
                    {{fields.label_tag}}
                    {{fields}}
                    </p>

                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-dark">
                </form>
    </div>
</section>

{% endblock content %}